<li id="comment-<%= comment.id %>" class="comment">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <%= comment.author %> |
                <small><%= comment.created_at.strftime('%F') %></small>
            </p>
            <p>
                <%= comment.content %>
            </p>    
        </div>
    </div>
</li>
