<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorías <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <% @categories.each do |category| %>
            <li><%= link_to category.name, category  %></li>
        <% end %>
    </ul>
    </li>
</ul>